frontend postgres_frontend
    bind *:5432
    mode tcp
    default_backend postgres_backend

backend postgres_backend
    mode tcp
    option tcp-check
    option httpchk GET /primary
    http-check expect status 200

    server postgresql-01 patroni1:5432 check port 8008 
    server postgresql-02 patroni2:5432 check port 8008 
    server postgresql-03 patroni3:5432 check port 8008 
